TLD=dev.loc

# USER IDs (WSL2: `id -u` und `id -g` ausführen)
PUID=1000
PGID=1000

# PHP
#-----------------------

#PHP_VERSION=8.1
#PHP_VERSION=8.2
#PHP_VERSION=8.3
PHP_VERSION=8.4
#PHP_VERSION=8.5

# DATABASE
#-----------------------
MARIADB_VERSION=11.8

# WEBSERVER
#-----------------------
APACHE_VERSION=2.4


# PHPMYADMIN
#-----------------------
PHPMYADMIN_VERSION=5.2
